.go-colored-table .even{
	background-color:#f1f1f1 !important;
}

.x-date-weeknumber{
	width:10px;
}

.go-html-formatted  blockquote {  
	display: block;  
  margin: 1em 40px;  
  padding:0px 10px;
}


.go-html-formatted h1 {  
  display: block;  
  font-size: 2em;  
  font-weight: bold;  
  margin: .67em 0;  
}  
   
.go-html-formatted h2 {  
  display: block;  
  font-size: 1.5em;  
  font-weight: bold;  
  margin: .83em 0;  
}  
   
.go-html-formatted h3 {  
  display: block;  
  font-size: 1.17em;  
  font-weight: bold;  
  margin: 1em 0;  
}  
   
.go-html-formatted h4 {  
  display: block;  
  font-weight: bold;  
  margin: 1.33em 0;  
}  
  
.go-html-formatted h5 {  
  display: block;  
  font-size: 0.83em;  
  font-weight: bold;  
  margin: 1.67em 0;  
}  
   
.go-html-formatted h6 {  
  display: block;  
  font-size: 0.67em;  
  font-weight: bold;  
  margin: 2.33em 0;  
}


.go-html-formatted td {   
   display: table-cell;  
   vertical-align: inherit;  
   text-align: inherit; 
 }  
   
.go-html-formatted th {  
   display: table-cell;  
   vertical-align: inherit;  
   font-weight: bold;  
   padding: 1px;  
 }

   
.go-html-formatted ul,.go-html-formatted  menu, .go-html-formatted dir {  
   display: block;  
   list-style-type: disc;  
   margin: 1em 0;  
   -moz-padding-start: 40px;  
 }  
   
.go-html-formatted ol {  
   display: block;  
   list-style-type: decimal;  
   margin: 1em 0;  
   -moz-padding-start: 40px;  
 }  
   
.go-html-formatted li {  
   display: list-item;  
 }
 
.go-html-formatted p {  
   margin:10px 0px;  
 }    






.menu-title{
padding:3px 21px 0px 3px;
font-weight:bold;
}

.go_logo{
	text-align:middle;
	vertical-align:middle;
	border:0px;
	padding:6px;	
}


#mainNorthPanel{
	font:normal 10px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;
}

#loading{
	position:absolute;
	left:40%;
	top:40%;
	border:1px solid #9c9f9d;
	padding:2px;
	background:#d1d8db;
	width:300px;
	text-align:center;
	z-index:20001;
}
#loading .loading-indicator{
	border:1px solid #c1d1d6;
	color:#666;
	background:white url('images/groupoffice.gif') 20px 10px no-repeat;
	font:bold 12px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;
	padding:60px 10px 10px 20px;
	margin:0;
	/*height:110px;*/
	text-align:left;
}
#loading .loading-indicator .loading-logo{
display:block;margin-bottom:15px;
}

.go-top-panel .x-panel-body{
	padding:3px;
	border:0px none;
 	background:#fff url(images/hd-sprite.gif) repeat-x 0px -92px;
  padding-top:3px;
 	padding-left:3px;
  color: #666 !important;
  font:regular 10px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;
  height:40px !important; /*overwrite inline style tags*/
}

.go-header-toolbar{
	background:transparant!important;
}
#headerLeft{
	float:left;
	background: url('images/go_logo.gif') 5px 6px no-repeat;
	height:40px;
	padding-left:160px;
	line-height:40px;
}
#headerRight{
	float:right;
	margin:12px;
}

.go-top-panel a:visited, .go-top-panel a:link, .go-top-panel a:active, .go-top-panel a:hover {
	color: #666 !important;
	margin:0 5px;
	text-decoration:none;
}
.go-top-panel .x-form-text {
	color: #666 !important;	
	background:#dedede !important;
	border:1px solid #dedede !important;
	padding-left:2px !important;	
	vertical-align:middle !important;
	height:15px !important;
}

#checker-loading{
	
}

#notification-area{
		
}

#admin-menu-link{
	/*display:none;*/
}




.go-wait .go-wait *, .go-wait div, .go-wait td, .go-wait button, .go-wait em {
	cursor: wait !important;
}

body{
	/*font:normal 10px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;*/
	font: 11px tahoma,arial,helvetica,sans-serif;
	color:#000;
	background-color:#f1f1f1;
}

td{
	font: 11px tahoma,arial,helvetica,sans-serif;
}

table.about td{
	font-size:12px;
}

a.normal-link:active,a.normal-link:link,a.normal-link:visited{
	color:#26687C;
	text-decoration:underline;
}
a.normal-link:hover{
	text-decoration:none;
}

/* start filetypes */

.filetype-link {
	background-image:url('images/16x16/filetypes/unknown.png');
	padding-left:18px;
	padding-top:3px;
	padding-bottom:2px;
  	padding-right:5px;
	background-position: 0 2px;
	background-repeat: no-repeat;
	white-space:nowrap;
	line-height:20px;
}

.filetype {
	background-image:url('images/16x16/filetypes/unknown.png') !important;
	background-repeat: no-repeat;
}

.filetype-eml {
	background-image:url('images/16x16/filetypes/mail.png') !important;
}

.filetype-folder {
	background-image:url('images/16x16/filetypes/folder.png') !important;
	background-repeat: no-repeat;
	/*height:16px;
	width:16px;*/
}

.filetype-jpg, .filetype-gif, .filetype-bmp, .filetype-tif, .filetype-png, .filetype-tiff {
	background-image:url('images/16x16/filetypes/images.png') !important;
}

.filetype-pdf {
	background-image:url('images/16x16/filetypes/pdf.png') !important;
}

.filetype-docx,.filetype-doc, .filetype-sxw, .filetype-odt {
	background-image:url('images/16x16/filetypes/document.png') !important;
}

.filetype-zip, .filetype-tar, .filetype-gz, .filetype-tgz{
	background-image:url('images/16x16/filetypes/tar.png') !important;
}

.filetype-ics, .filetype-vcs {
	background-image:url('images/16x16/filetypes/vcalendar.png') !important;
}
.filetype-vcf {
	background-image:url('images/16x16/filetypes/vcard.png') !important;
}

.filetype-txt {
	background-image:url('images/16x16/filetypes/txt.png') !important;
}

.filetype-odp, .filetype-pps, .filetype-ppsx  {
	background-image:url('images/16x16/filetypes/pps.png') !important;
}

.filetype-html, .filetype-htm {
	background-image:url('images/16x16/filetypes/html.png') !important;
}

.filetype-odc, .filetype-xls, .filetype-xlsx  {
	background-image:url('images/16x16/filetypes/spreadsheet.png') !important;
}

/* end filetypes */



/* start buttons */
.btn-add {
	background-image:url('images/16x16/gtk-add.png') !important;
}

.btn-alert {
	background-image:url('images/16x16/alert.png') !important;
}

.btn-delete {
	background-image:url('images/16x16/gtk-delete.png') !important;
}

.btn-edit {
	background-image:url('images/16x16/edit.png') !important;
}

.btn-report-bug {
	background-image:url('images/16x16/bug.png') !important;
}

.btn-select-all {
	background-image:url('images/16x16/actions.png') !important;
}
.btn-search {
	background-image:url('images/16x16/search.png') !important;
}

.btn-help {
	background-image:url('images/16x16/icon-help.png') !important;
}

.btn-ok {
	background-image:url('images/16x16/ok.png') !important;
}

.btn-settings {
	/*background-image:url('images/16x16/administration.png') !important;*/
	background-image:url('images/16x16/gtk-settings.png') !important;
}

.btn-export {
	background-image:url('images/16x16/export.png') !important;
}

.btn-logout {
	background-image:url('images/16x16/gnome-logout.png') !important;
}

.btn-download{
	background-image:url('images/16x16/download.png') !important;
}


.btn-dismiss{
	background-image:url('images/16x16/clock.png') !important;
}

.btn-close {
	background-image:url('images/16x16/gtk-delete.png') !important;
}


.btn-save {
	background-image:url('images/16x16/gtk-save.png') !important;
}

.btn-permissions {
	background-image:url('images/16x16/permissions.png') !important;
}

.btn-actions {
	background-image:url('images/16x16/actions.png') !important;
}

.btn-print{
	background-image:url('images/16x16/print.png') !important;
}

.btn-link {
	background-image:url('images/16x16/connect_established.png') !important;
}

.btn-unlink {
	background-image:url('images/16x16/stock-disconnect.png') !important;
}

.btn-search-addressbook {
	background-image:url('images/16x16/search_addressbook.png') !important;
}

.btn-refresh {
	background-image:url('images/16x16/reload.png') !important;
}

.btn-left-arrow {
	background-image:url('images/16x16/left-btn.gif') !important;
}

.btn-right-arrow {
	background-image:url('images/16x16/right-btn.gif') !important;
}

.btn-info{
	background-image:url('images/16x16/info.png') !important;
}

.btn-upload{
	background-image:url('images/16x16/upload.png') !important;
}

.btn-forum {
	background-image:url('images/16x16/forum.png') !important;
}

.btn-support {
	background-image:url('images/16x16/support.png') !important;
}

.btn-email {
	background-image:url('images/16x16/email.png') !important;
}

.btn-folder{
	background-image:url('images/16x16/folder.png') !important;
}
/* end buttons */

/*start edit buttons */


.x-html-editor-tb .go-edit-insertimage .x-btn-text{
	background:transparent url('images/16x16/filetypes/images.png') no-repeat !important;
}

.x-html-editor-tb .go-edit-selectVariable .x-btn-text {
	background:transparent url('images/16x16/filetypes/images.png') no-repeat !important;
}

.go-icon {
	width:16px;
	height:16px;
	background-repeat: no-repeat;
}

.go-icon-reminders{
	background: url('images/16x16/reminders.png');
}

.go-grid-icon{
	background-repeat:no-repeat;
	padding-left:20px;
	height:16px;
	display:block;
}

/*
.go-sub-table{
	border:0px;
	border-collapse: collapse;
}
.go-sub-table td {
	margin:0px;
	padding:0px;
	padding-right:4px;
}


.go-inner-tab{
	padding:5px;
}*/

/* Group-Office icon displayed in the top bar */
.go-app-icon{
	/*background: url('images/16x16/go-icon.png');*/	
}


.go-important-icon{
	background: url('images/16x16/important.png') no-repeat !important;
	height:16px;
	padding-left:20px;
	line-height:16px;
}

/* Search icon displayed in top bar */
.go-search-icon{
	background-image: url('images/16x16/icon-search.png') !important;
}

.go-search-icon-tab{
	background-image: none;;
}

/* Group-Office logo displayed in the login screen 
and about screen. Please leave the about screen logo original!
*/
.go-app-logo, .go-about-logo{
	background: url('images/groupoffice.gif');
	width:200px;
	height:40px;
	background-repeat:no-repeat;
	margin-top: 10px;
	margin-bottom: 20px;
}

/* start ext overrides */

/* align of image with text in a button */
.x-btn-text-icon .x-btn-center .x-btn-text{
	background-position:0 2px;
	background-repeat:no-repeat;
	padding-left:18px;
	padding-top:2px;
	padding-bottom:3px;
	padding-right:0;
}

/* font were inconsistent in Ext. No problem on Windows but in Linux it was because Tahoma doesn't exists. */
.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label {
	font-family:tahoma,arial,helvetica,sans-serif;
	/*color:#e4eff4;*/
}


/*.Otherwise checkboxes were scrolling*/
.ext-gecko .x-window-body .x-form-item{
overflow:hidden !important;	
}


/* end ext overrides */





/* start file upload  */

.x-uf-buttons-ct {
	position:relative;
	height: 22px;
	margin-bottom: 5px;
}
.x-uf-input-ct {
	position:absolute;
	height: 22px;
	overflow:hidden;
}
.x-uf-ubtn-ct {
	margin-left:78px;
	float:left;
}
.x-uf-cbtn-ct {
	margin-left:4px;
	float:left;
}
.x-uf-bbtn-ct {
	float:left;
	height: 22px;
}
.x-uf-input-wrap {
	position: absolute;
	opacity: 0.0;
	-moz-opacity: 0.0;
	filter: alpha(opacity=0);	
	right:0;
	height: 22px;
}
.x-uf-input-wrap input {
	top: 0;
	height: 22px;
	font-size: 14px;
	cursor: pointer;
	-moz-user-focus: ignore;
	border: 0px none transparent;

	overflow: hidden;
}
.x-uf-input-mask {
	position:absolute;
	height: 22px;
	width: 24px;
	left: -18px;
}
.x-uf-table {
	width:100%;
	font-size: 11px;
	border-collapse: collapse;
	margin-top: 2px;
}

.x-uf-filedelete {
	width: 16px;
	text-align: right;
	padding-right: 2px;
}


.go-error-dialog .x-panel-body{
	background:url('images/32x32/error.png') no-repeat 10px 10px;
	padding:18px 5px 18px 52px;	
}


/* sets the padding for panels with forms or text in it */
.go-form-panel .x-panel-body{
	padding: 5px;
}

.go-form-text-panel .x-panel-body {
	padding:0px;	
	margin:0px;
	margin-bottom:10px;
	font:normal 11px tahoma,arial,helvetica,sans-serif;
}

.go-form-text{
	font:normal 11px tahoma,arial,helvetica,sans-serif;
	margin:10px 0 10px 0;
}

.go-links-panel-description {
	padding-left:5px;	
}


/* end file upload */


/* form field that is read only and only shows a value */
.x-form-plainfield {
	/*height: 22px;*/
	line-height: 18px;
	vertical-align: middle;
	overflow: hidden;
}

hr{
	border:0;
	color:#cccccc;
	background-color:#cccccc;
	margin:10px 0 10px 0;
	height:2px;
		
}


/* end of file */


/* Data view where you can select a single item */

.go-select-list {
	font:normal 11px tahoma,arial,helvetica,sans-serif;
	padding:2px;
	position:relative;
	/*background-color:white;*/
	/*border-bottom:1px solid #c3daf9;*/
}

.go-select-list div{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
	line-height:18px;
	cursor-default;
}

.go-select-list .go-item-wrap{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	padding: 4px;
	cursor: default;
}

.go-select-list .go-view-over{
    background-color:#ebf1e2;
    border:1px solid #ebf1e2;
    /*background: #efefef url(../../ext/resources/images/default/grid/row-over.gif) repeat-x left top;*/
	padding: 4px;
}

.go-select-list .go-view-selected{
	background-color:#ebf1e2;
 	border:1px solid #669900;
	padding: 4px;
	
}



/* end dataview */

table.display-panel{
	width:100%;	
}

table.display-panel td{
	padding:3px;
	vertical-align:top;
}

table.display-panel a:link,
table.display-panel a:visited,
table.display-panel a:active	
{
	color: blue;
	text-decoration: underline;
}

.display-panel-heading
{
	height: 30px;
	width: 100%;
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
	background-color: #ebebeb;
}

.display-panel-links-header, .display-panel-description{
	background-color: #f1f1f1;
}

.display-panel-link-description td{
	padding:1px 0px 54px 0px;
}

/* Ext grid addons */

.go-grid3-hide-headers .x-grid3-header {
    display:none;
}

/* End Ext grid addons */

.x-tab-strip-top{
	background:url(imag):
}




/* file upload field */

/*
 * Ext JS Library 2.2
 * Copyright(c) 2006-2008, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

/*
 * FileUploadField component styles
 */
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}


.go-warning-msg{
	background:url('images/16x16/important.png') no-repeat;
	padding-left:20px;
	height:16px;
	vertical-align:middle;
}
