.go-module-icon-users, .go-menu-icon-users, .go-tab-icon-users{
	background:url('images/16x16/icon-users.png');
}

.go-link-icon-8 {
	background-image: url('images/16x16/icon-users.png') !important;
	width:16px;
	height:16px;
}

.input-form-setting {
	padding: 5px 5px 1px 5px;
}