@CHARSET "UTF-8";

.go-module-icon-modules, .go-menu-icon-modules, .go-tab-icon-modules {
	background-image: url('images/16x16/icon-modules.png') !important;
}


/* styles for wrapper div around buttons in a grid. Otherwise the paddings get screwed up. */
.go-grid-button{
margin: 2px 2px 5px 2px;
width:100px;
}

.go-grid-button td{
padding: 0px 0px 0px 0px;
}

.pm-hours-comments{
	color: #666666;
	padding: 1px 2px 4px 5px;
}