.go-module-icon-notes , .go-menu-icon-notes{
	background:url('images/notes.png');
}

.go-tab-icon-notes {
	background-image: none !important;
}

.go-link-icon-4 {
	background-image: url('images/notes.png') !important;
}

.no-btn-categories{
	background-image: url('images/gtk-settings.png') !important;
}
